<p style="color: green"><%= notice %></p>

<% content_for :title, "Trail images" %>

<h1>Trail images</h1>

<div id="trail_images">
  <% @trail_images.each do |trail_image| %>
    <%= render trail_image %>
    <p>
      <%= link_to "Show this trail image", trail_image %>
    </p>
  <% end %>
</div>

<%= link_to "New trail image", new_trail_image_path %>
